body{
	font-family: Tahoma;
	font-size: 11px;	
}

th{
	font-size: 13px;
	background: #ff0000;
	color: #ffffff;
}

td{
	padding: 5px;
}

input{
	padding: 5px;
	width: 280px;
	border: 1px dotted #90ee90;
	background: #e0ffff;
}

input:focus{
	border: 1px solid #0000ff;
	background: #ee82ee; 
}

button{
	background: #ff0000;
	color: #ffffff;
	border: #90ee90 1px solid;
	padding: 5px 15px;
}

table{
	border-collapse: collapse;
	border: 1px solid #ff0000;
	background: url(images/bgbottom_yellow.jpg) left bottom repeat-x;
}